alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
anyio @ file:///C:/ci/anyio_1644481856696/work/dist
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644569876605/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
atomicwrites @ file:///Users/ktietz/demo/mc3/conda-bld/atomicwrites_1630511751522/work
attrs==25.1.0
autopep8==2.3.2
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650293028159/work
bidict==0.23.1
biosignalsnotebooks==0.6.14
biosppy==2.2.3
black==25.1.0
bleach==6.2.0
blinker==1.9.0
bokeh==3.6.3
brotlipy==0.7.0
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi @ file:///C:/Windows/Temp/abs_6808y9x40v/croots/recipe/cffi_1659598653989/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.8
cmarkgfm @ file:///C:/ci_310/cmarkgfm_1642108802684/work
colorama==0.4.6
configobj==5.0.9
cryptography @ file:///C:/ci/cryptography_1652101729823/work
cycler==0.12.1
DateTime==5.5
debugpy==1.8.12
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
docopt @ file:///C:/b/abs_d3qvsxazhu/croots/recipe/docopt_1663662414930/work
docutils @ file:///C:/Windows/Temp/abs_b6cq4adtko/croots/recipe/docutils_1659506292265/work
entrypoints @ file:///C:/ci/entrypoints_1649926676279/work
executing==2.2.0
fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
fonttools==4.56.0
fsspec @ file:///C:/b/abs_07xig1rkra/croot/fsspec_1679418812895/work
future @ file:///C:/ci_310/future_1642081234309/work
h5py==3.13.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imagesize @ file:///C:/Windows/TEMP/abs_3cecd249-3fc4-4bfc-b80b-bb227b0d701en12vqzot/croots/recipe/imagesize_1657179501304/work
ipykernel @ file:///C:/b/abs_21ykzkm7y_/croots/recipe/ipykernel_1662361803478/work
ipython @ file:///C:/b/abs_536xsn7rj0/croot/ipython_1670919360443/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==8.1.5
jedi==0.19.2
Jinja2==3.1.5
joblib==1.4.2
jsonschema @ file:///C:/b/abs_59eyhnbyej/croots/recipe/jsonschema_1663375476535/work
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-server @ file:///C:/Windows/TEMP/abs_d3c42c59-765d-4f9b-9fa3-ad5b1369485611i_yual/croots/recipe/jupyter_server_1658754493238/work
jupyter_client @ file:///C:/b/abs_8fbm7986b_/croots/recipe/jupyter_client_1662504374117/work
jupyter_core @ file:///C:/b/abs_bd7elvu3w2/croot/jupyter_core_1676538600510/work
jupyterlab-pygments==0.3.0
jupyterlab-widgets==3.0.13
kiwisolver==1.4.8
libmagic==1.0
llvmlite==0.44.0
lxml @ file:///C:/ci/lxml_1657527492694/work
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
matplotlib==3.10.0
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
mistune==3.1.2
mkl-fft==1.3.11
mkl-random @ file:///C:/ci_310/mkl_random_1643050563308/work
mkl-service==2.4.2
mypy-extensions==1.0.0
nbclassic @ file:///C:/b/abs_26e3fkk516/croot/nbclassic_1668174974037/work
nbclient==0.10.2
nbconvert==7.16.6
nbformat @ file:///C:/b/abs_1dw90o2uqb/croots/recipe/nbformat_1663744957967/work
nest-asyncio @ file:///C:/ci/nest-asyncio_1649848132512/work
neurokit2==0.2.10
notebook @ file:///C:/b/abs_ca13hqvuzw/croot/notebook_1668179888546/work
notebook_shim @ file:///C:/b/abs_ebfczttg6x/croot/notebook-shim_1668160590914/work
numba==0.61.0
numpy @ file:///C:/b/abs_53f_dbvhzc/croot/numpy_and_numpy_base_1665773185489/work
oauthlib==3.2.2
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso==0.8.4
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec==0.12.1
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==11.1.0
pkginfo @ file:///tmp/build/80754af9/pkginfo_1643162084911/work
platformdirs @ file:///C:/b/abs_73cc5cz_1u/croots/recipe/platformdirs_1662711386458/work
plotly==6.0.0
prometheus-client==0.21.1
prompt-toolkit==3.0.50
psutil==7.0.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.4.1
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1636635402688/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycurl==7.45.4
Pygments==2.19.1
PyJWT @ file:///C:/ci/pyjwt_1657529477795/work
pylsl==1.17.6
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.2.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5-sip==12.17.0
pyqtgraph @ file:///C:/Windows/TEMP/abs_e3uugnjl26/croots/recipe/pyqtgraph_1659341135432/work
pyrsistent==0.20.0
pyserial==3.5
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pyte @ file:///Users/ktietz/demo/mc3/conda-bld/pyte_1629482083809/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-magic-bin==0.4.14
pytz @ file:///C:/Windows/TEMP/abs_90eacd4e-8eff-491e-b26e-f707eba2cbe1ujvbhqz1/croots/recipe/pytz_1654762631027/work
PyWavelets @ file:///C:/b/abs_a8r4b1511a/croot/pywavelets_1670425185881/work
pywin32==308
pywinpty==2.0.15
pyxdf==1.17.0
PyYAML==6.0.2
pyzmq @ file:///C:/ci/pyzmq_1657616000714/work
qtconsole==5.6.1
QtPy==2.4.3
readme-renderer @ file:///C:/ci_310/readme_renderer_1642120771396/work
regex==2024.11.6
requests @ file:///C:/ci/requests_1657735340829/work
requests-oauthlib==2.0.0
requests-toolbelt @ file:///Users/ktietz/demo/mc3/conda-bld/requests-toolbelt_1629456163440/work
rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
scikit-learn @ file:///C:/b/abs_eezai1guz5/croot/scikit-learn_1667587552067/work
scipy==1.15.2
seaborn==0.13.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
shortuuid==1.0.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///C:/ci_310/sniffio_1642092172680/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
soupsieve @ file:///C:/b/abs_fasraqxhlv/croot/soupsieve_1666296394662/work
Sphinx==8.2.1
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
stack-data==0.6.3
suds-jurko==0.6
tenacity==9.0.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tk==0.1.0
toml==0.10.2
tomli==2.2.1
tornado @ file:///C:/ci/tornado_1662476985533/work
tqdm @ file:///C:/ci/tqdm_1650618044857/work
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
twine==6.1.0
typing_extensions==4.12.2
urllib3 @ file:///C:/Windows/TEMP/abs_65ynz4fdmi/croots/recipe/urllib3_1659110473919/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///C:/ci_310/websocket-client_1642093970919/work
wget==3.2
widgetsnbextension==4.0.13
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wincertstore==0.2
zope.interface==7.2
